<!DOCTYPE html>
<html>
<head>
  <title>Impressão de Código de Acesso</title>
  <style>
    /* Esconde o conteúdo padrão na tela, mas permite a impressão do código */
    body {
      display: none;
    }

    /* Define como o código de acesso será exibido na impressão */
    @media print {
      body {
        display: block;
      }
    }
  </style>
</head>
<body>
  <!-- Código gerado pela sua aplicação -->
  <span id="codigoGerado" style="display: none;">ABC123</span> <!-- Substitua 'ABC123' pelo código gerado -->

  <script>
    function imprimirCodigo() {
      var codigoParaImprimir = document.getElementById('codigoGerado').innerText;
      window.document.body.innerText = codigoParaImprimir;
      window.print();
    }
  </script>

  <button onclick="imprimirCodigo()">Imprimir Código</button>
</body>
</html>
