<nav class="navbar navbar-light navbar-vertical navbar-expand-xl" style="display: none;">
    <script>
      var navbarStyle = localStorage.getItem("navbarStyle");
      if (navbarStyle && navbarStyle !== 'transparent') {
        document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
      }
    </script>
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">
        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
      </div><a class="navbar-brand" href="/dashboard">
        <div class="d-flex align-items-center py-3"><img class="me-2" src="../../assets/img/logos/logo-angola.png" alt="" width="40" /><span class="font-sans-serif text-primary"></span></div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <div class="navbar-vertical-content scrollbar">
        <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
          <li class="nav-item"><!-- parent pages--><a class="nav-link dropdown-indicator" href="#dashboard" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="dashboard">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text ps-1">Dashboard</span></div>
            </a>
            <ul class="nav collapse show" id="dashboard">
              <li class="nav-item"><a class="nav-link" href="/dashboard">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Painel</span></div>
                </a></li>
           
            </ul>
          </li>
          <li class="nav-item"><!-- label-->
            <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
              <div class="col-auto navbar-vertical-label">App</div>
              <div class="col ps-0">
                <hr class="mb-0 navbar-vertical-divider" />
              </div>
            </div><a class="nav-link dropdown-indicator" href="#email" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="email">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-envelope-open"></span></span><span class="nav-link-text ps-1">Email</span></div>
            </a>
            <ul class="nav collapse" id="email">
              <li class="nav-item"><a class="nav-link" href="../app/email/inbox.html">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Inbox</span></div>
                </a></li>
              <li class="nav-item"><a class="nav-link" href="../app/email/email-detail.html">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Email detail</span></div>
                </a></li>
              <li class="nav-item"><a class="nav-link" href="../app/email/compose.html">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Compose</span></div>
                </a></li>
            </ul><a class="nav-link dropdown-indicator" href="#support-desk" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="support-desk">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-ticket-alt"></span></span><span class="nav-link-text ps-1">Import File</span></div>
            </a>
            <ul class="nav collapse" id="support-desk">
              <li class="nav-item"><a class="nav-link" href="/ImportFileRegisterEnter">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Registos</span></div>
                </a></li>
              <li class="nav-item"><a class="nav-link" href="/ImportFileEmployee">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Funcionario</span></div>
                </a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="#">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Contacts</span></div>
                </a></li>
              <li class="nav-item"><a class="nav-link" href="#">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Contact details</span></div>
                </a></li>
              <li class="nav-item"><a class="nav-link" href="#">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Tickets preview</span></div>
                </a></li>
              <li class="nav-item"><a class="nav-link" href="#">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Quick links</span></div>
                </a></li> -->
             
            </ul>
          </li>
          <li class="nav-item"><!-- label-->
            <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
              <div class="col-auto navbar-vertical-label">Pages</div>
              <div class="col ps-0">
                <hr class="mb-0 navbar-vertical-divider" />
              </div>
            </div><a class="nav-link" href="../pages/landing.html" role="button">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-globe"></span></span><span class="nav-link-text ps-1">Landing</span></div>
            </a><!-- parent pages--><a class="nav-link dropdown-indicator" href="#user" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="user">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-user"></span></span><span class="nav-link-text ps-1">Usuarios</span></div>
            </a>
            <ul class="nav collapse" id="user">
              <li class="nav-item"><a class="nav-link" href="/listUser">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Listar</span></div>
                </a></li>
              <li class="nav-item"><a class="nav-link" href="../pages/user/settings.html">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Settings</span></div>
                </a></li>
            </ul><!-- parent pages--><a class="nav-link dropdown-indicator" href="#pricing" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="pricing">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-users"></span></span><span class="nav-link-text ps-1">Funcionarios</span></div>
            </a>
            <ul class="nav collapse" id="pricing">
              <li class="nav-item"><a class="nav-link" href="/listEmployee">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Listar</span></div>
                </a></li>
              <li class="nav-item"><a class="nav-link" href="#">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Pricing alt</span></div>
                </a></li>
          

          </li>
        
       
        </ul>
        <li class="nav-item"><!-- label-->
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Control</div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider" />
            </div>
          </div><a class="nav-link dropdown-indicator" href="#registos" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="user">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-user"></span></span><span class="nav-link-text ps-1">Registros</span></div>
          </a>
          <ul class="nav collapse" id="registos">
            <li class="nav-item"><a class="nav-link" href="#">
                <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Registro de Presença</span></div>
              </a></li>
              <li class="nav-item"><a class="nav-link" href="/controlRegisterEmployee">
                <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Ident. R Cobrança</span></div>
              </a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Definições</span></div>
              </a></li>
          </ul>

        </li>
        <li class="nav-item"><!-- label-->
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Relatório</div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider" />
            </div>
          </div>
          <a class="nav-link" href="../pages/landing.html" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-list-alt"></span></span><span class="nav-link-text ps-1">Finanças</span></div>
          </a>
          <a class="nav-link" href="../pages/landing.html" role="button">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-globe"></span></span><span class="nav-link-text ps-1">Landing</span></div>
          </a><!-- parent pages-->

        </li>
      </div>
    </div>
  </nav>